/* Container */
.todo-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.title {
  text-align: center; 
}
/* Input and button */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.input-box button {
  background: #7a3cf0;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.input-box button:hover {
  background: #5d2ac4;
}

/* Task list */
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.task-list li:hover {
  background: #f0f0f0;
}

/* Done task */
.task-list li.done span {
  text-decoration: line-through;
  color: gray;
}

/* Delete button */
.delete-btn {
  background: #7a3cf0;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #5d2ac4;
}
